{% extends "appointments_app/base.html" %}
{% block title %}APPOINTMENTS{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row mt-5 mb-5 justify-content-md-center">
      <div class="col-10">
        {% if error_message %}
          <div id="alert">
            <strong>{{ error_message }}</strong>
          </div>
        {% endif %}

        {% if type == "Patient" %}
          <h3><span style="text-decoration: underline;">{{ user.firstName }} {{ user.lastName }}</span>, tu znajdują się Twoje wizyty</h3>
          {% if appointments %}
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Data i czas</th>
                <th>Doktor</th>
                <th>Lokalizacja</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for appointment in appointments %}
                <tr>
                  <td><a class="alink" href="{% url 'appointments_app:updateAppointment' appointment.id %}">
                    {{ appointment.month }}.{{ appointment.day }}.{{ appointment.year }},
                    {{ appointment.appttime }} {{ appointment.phase }}
                  </a></td>
                  <td>{{ appointment.doctor }}</td>
                  <td>{{ appointment.location }}</td>
                  <td>
                    <form action="{% url 'appointments_app:cancelAppointment' appointment.id %}">
                      <button type="submit" class="btn btn-warning" value="Cancel">Anuluj</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Nie masz żadnych zaplanowanych wizyt.</p>
          {% endif %}

          <form action="{% url 'appointments_app:createAppointment' %}">
            <button type="submit" class="btn btn-primary btn-block btn-lg" value="Create Appointment">Utwórz wizytę</button>
          </form>
        {% endif %}

        {% if type == "Doctor" %}
          <h3>Wizyty w lokalizacji <span style="text-decoration: underline;">{{ employee.workplace.name }}</span></h3>
          {% if appointments %}
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Data i czas</th>
                <th>Pacjent</th>
                <th>Doktor</th>
              </tr>
              </thead>
              <tbody>
              {% for appointment in appointments %}
                <tr>
                  <td><a class="alink" href="{% url 'appointments_app:updateAppointment' appointment.id %}">
                    {{ appointment.month }}.{{ appointment.day }}.{{ appointment.year }},
                    {{ appointment.appttime }} {{ appointment.phase }}
                  </a></td>
                  <td>{{ appointment.patient }}</td>
                  <td>{{ appointment.doctor }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Nie ma żadnych wizyt w Twojej lokalizacji na ten moment.</p>
          {% endif %}
          <hr/>
          <h3>Wizyty zaplanowane z Tobą,
            <span
                style="text-decoration: underline;">{{ employee.firstName }} {{ employee.lastName }}
            </span>
          </h3>
          {% if this_appointments %}
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Data i czas</th>
                <th>Pacjent</th>
                <th>Lokalizacja</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for appointment in this_appointments %}
                <tr>
                  <td><a class="alink" href="{% url 'appointments_app:updateAppointment' appointment.id %}">
                    {{ appointment.month }}.{{ appointment.day }}.{{ appointment.year }},
                    {{ appointment.appttime }} {{ appointment.phase }}
                  </a></td>
                  <td>{{ appointment.patient }}</td>
                  <td>{{ appointment.location }}</td>
                  <td>
                    <form action="{% url 'appointments_app:cancelAppointment' appointment.id %}">
                      <button type="submit" class="btn btn-warning" value="Cancel">Anuluj</button>
                    </form>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Nie masz żadnych zaplanowanych wizyt.</p>
          {% endif %}

          <br>

          <form action="{% url 'appointments_app:createAppointment' %}">
            <button type="submit" class="btn btn-primary btn-block btn-lg" value="Create Appointment">Utwórz wizytę</button>
          </form>
        {% endif %}

        {% if type == "Nurse" %}
          <h3><span style="text-decoration: underline;">{{ employee.firstName }} {{ employee.lastName }}</span>,
            To Twoje wizyty w lokalizacji <span style="text-decoration: underline;">{{ employee.workplace.name }}</span>
          </h3>
          {% if appointments %}
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Data i czas</th>
                <th>Pacjent</th>
                <th>Doktor</th>
              </tr>
              </thead>
              <tbody>
              {% for appointment in appointments %}
                <tr>
                  <td><a class="alink" href="{% url 'appointments_app:updateAppointment' appointment.id %}">
                    {{ appointment.month }}.{{ appointment.day }}.{{ appointment.year }},
                    {{ appointment.appttime }} {{ appointment.phase }}
                  </a></td>
                  <td>{{ appointment.patient }}</td>
                  <td>{{ appointment.doctor }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>W chwili obecnej nie ma żadnej wizyty w Twoim miejscu pracy.</p>
          {% endif %}

          <br>

          <form action="{% url 'appointments_app:createAppointment' %}">
            <button type="submit" class="btn btn-primary btn-block btn-lg" value="Create Appointment">Utwórz wizytę</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}