{% extends "appointments_app/base.html" %}
{% block title %}CREATE APPOINTMENT{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row mt-5 mb-5 justify-content-md-center">
      <div class="col-10">
        {% if error_message %}
          <div id="alert">
            <strong>{{ error_message }}</strong>
          </div>
        {% endif %}

        {% if type == "Patient" %}
          <h3>Create Your Appointment Below</h3>
          <form name='createAppointment' action="{% url 'appointments_app:createAppointmentInfo' %}" method="post"
                onsubmit="return checkform();">
            {% csrf_token %}

            <ul>
              <li>Aby utworzyć wizytę, wypełnij poniższy formularz</li>
              <li>Jako Pacjent, musisz wybrać doktora oraz określić datę i czas.</li>
            </ul>
            <hr>

            <div class="form-group">
              Twoje Dane:
              <select name='patient' class="form-control">
                <option name="pat" value="{{ patient.id }}"
                        selected>{{ patient.firstName }} {{ patient.lastName }}</option>
              </select>
              Wybierz Doktora:
              <select name='doctor' class="form-control">
                <option name="placeholder" value="Please Select a Doctor" selected disabled hidden>Wybierz Doktora
                </option>
                {% for doc in doctors %}
                  <option name="doc" value="{{ doc.id }}">{{ doc.lastName }}, {{ doc.firstName }}</option>
                {% endfor %}
              </select>
              Miesiąc:
              <select name='month' class="form-control">
                <option name="placeholder" value="Please Select a Month" selected disabled hidden>Wybierz miesiąc
                </option>
                <option name="amonth" value="01">Styczeń</option>
                <option name="amonth" value="02">Luty</option>
                <option name="amonth" value="03">Marzec</option>
                <option name="amonth" value="04">Kwiecień</option>
                <option name="amonth" value="05">Maj</option>
                <option name="amonth" value="06">Czerwiec</option>
                <option name="amonth" value="07">Lipiec</option>
                <option name="amonth" value="08">Sierpień</option>
                <option name="amonth" value="09">Wrzesień</option>
                <option name="amonth" value="10">Październik</option>
                <option name="amonth" value="11">Listopad</option>
                <option name="amonth" value="12">Grudzień</option>
              </select>

              <div class="form-inline mt-2">
                <label class="form-label pr-2" for="day">Dzień:</label>
                <input id="day" type="text" name="day" placeholder="Ex.) 01" class="form-control"/>
                <label class="form-label pl-2 pr-2" for="year">Rok:</label>
                <input id="year" type="text" name="year" placeholder="Ex.) 2019" class="form-control"/>
              </div>

              <div class="form-inline mt-2">
                <label class="form-label pr-2" for="time">Wybierz godzinę:</label>
                <select name='appttime' class="form-control" id="time">
                  <option name="tplaceholder" value="Please Select a Time" selected disabled hidden>Wybierz godzinę
                  </option>
                  <option name="atime" value="01:00">01:00</option>
                  <option name="atime" value="01:30">01:30</option>
                  <option name="atime" value="02:00">02:00</option>
                  <option name="atime" value="02:30">02:30</option>
                  <option name="atime" value="03:00">03:00</option>
                  <option name="atime" value="03:30">03:30</option>
                  <option name="atime" value="04:00">04:00</option>
                  <option name="atime" value="04:30">04:30</option>
                  <option name="atime" value="05:00">05:00</option>
                  <option name="atime" value="05:30">05:30</option>
                  <option name="atime" value="06:00">06:00</option>
                  <option name="atime" value="06:30">06:30</option>
                  <option name="atime" value="07:00">07:00</option>
                  <option name="atime" value="07:30">07:30</option>
                  <option name="atime" value="08:00">08:00</option>
                  <option name="atime" value="08:30">08:30</option>
                  <option name="atime" value="09:00">09:00</option>
                  <option name="atime" value="09:30">09:30</option>
                  <option name="atime" value="10:00">10:00</option>
                  <option name="atime" value="10:30">10:30</option>
                  <option name="atime" value="11:00">11:00</option>
                  <option name="atime" value="11:30">11:30</option>
                  <option name="atime" value="12:00">12:00</option>
                  <option name="atime" value="12:30">12:30</option>
                </select>
                <label class="form-label pl-2 pr-2" for="timephase">AM/PM:</label>
                <select name='phase' class="form-control" id="timephase">
                  <option name="placeholder" value="Please Select a Time Phase" selected disabled hidden>Wybierz porę
                    doby:
                  </option>
                  <option name="AMphase" value="AM">AM</option>
                  <option name="PMphase" value="PM">PM</option>
                </select>
              </div>

            </div>
            <button type="submit" class="btn btn-primary btn-block m-1 mt-5" value="Save">Zapisz</button>
          </form>

          <form action="{% url 'appointments_app:appointments' %}">
            <button type="submit" class="btn btn-warning btn-block m-1" value="Cancel">Anuluj</button>
          </form>
        {% endif %}

        {% if type == "Doctor" %}
          <h3>Utwórz swoje wizyty poniżej</h3>
          <form name='createAppointment' action="{% url 'appointments_app:createAppointmentInfo' %}" method="post"
                onsubmit="return checkform();">
            {% csrf_token %}

            <ul>
              <li>Aby utworzyć wizytę, wypełnij poniższy formularz.</li>
              <li>Jako Doktor, musisz wybrać pacjenta oraz określić datę i czas.</li>
            </ul>
            <hr>

            <div class="form-group">
              Wybierz Pacjenta:
              <select class="form-control" name='patient'>
                <option name="placeholder" value="Please Select a Patient" selected disabled hidden>Wybierz Pacjenta
                </option>
                {% for patient in patients %}
                  <option name="pat" value="{{ patient.id }}">{{ patient.lastName }}, {{ patient.firstName }}</option>
                {% endfor %}
              </select>
              Twoje dane:
              <select class="form-control" name='doctor'>
                <option name="pat" value="{{ doctor.id }}"
                        selected>{{ doctor.firstName }} {{ doctor.lastName }}</option>
              </select>
              Miesiąc:
              <select class="form-control" name='month'>
                <option name="aplaceholder" value="Please Select a Month" selected disabled hidden>Wybierz miesiąc
                </option>
                <option name="amonth" value="01">Styczeń</option>
                <option name="amonth" value="02">Luty</option>
                <option name="amonth" value="03">Marzec</option>
                <option name="amonth" value="04">Kwiecień</option>
                <option name="amonth" value="05">Maj</option>
                <option name="amonth" value="06">Czerwiec</option>
                <option name="amonth" value="07">Lipiec</option>
                <option name="amonth" value="08">Sierpień</option>
                <option name="amonth" value="09">Wrzesień</option>
                <option name="amonth" value="10">Październik</option>
                <option name="amonth" value="11">Listopad</option>
                <option name="amonth" value="12">Grudzień</option>
              </select>
              <div class="form-inline mt-2">
                <label class="form-label pr-2" for="day">Dzień:</label>
                <input id="day" type="text" name="day" placeholder="Ex.) 01" class="form-control"/>
                <label class="form-label pl-2 pr-2" for="year">Rok:</label>
                <input id="year" type="text" name="year" placeholder="Ex.) 2019" class="form-control"/>

              </div>
              <div class="form-inline mt-2">
                <label class="form-label pr-2" for="time">Wybierz godzinę:</label>
                <select name='appttime' class="form-control" id="time">
                  <option name="tplaceholder" value="Please Select a Time" selected disabled hidden>Wybierz godzinę
                  </option>
                  <option name="atime" value="01:00">01:00</option>
                  <option name="atime" value="01:30">01:30</option>
                  <option name="atime" value="02:00">02:00</option>
                  <option name="atime" value="02:30">02:30</option>
                  <option name="atime" value="03:00">03:00</option>
                  <option name="atime" value="03:30">03:30</option>
                  <option name="atime" value="04:00">04:00</option>
                  <option name="atime" value="04:30">04:30</option>
                  <option name="atime" value="05:00">05:00</option>
                  <option name="atime" value="05:30">05:30</option>
                  <option name="atime" value="06:00">06:00</option>
                  <option name="atime" value="06:30">06:30</option>
                  <option name="atime" value="07:00">07:00</option>
                  <option name="atime" value="07:30">07:30</option>
                  <option name="atime" value="08:00">08:00</option>
                  <option name="atime" value="08:30">08:30</option>
                  <option name="atime" value="09:00">09:00</option>
                  <option name="atime" value="09:30">09:30</option>
                  <option name="atime" value="10:00">10:00</option>
                  <option name="atime" value="10:30">10:30</option>
                  <option name="atime" value="11:00">11:00</option>
                  <option name="atime" value="11:30">11:30</option>
                  <option name="atime" value="12:00">12:00</option>
                  <option name="atime" value="12:30">12:30</option>
                </select>
                <label class="form-label pl-2 pr-2" for="timephase">AM/PM:</label>
                <select name='phase' class="form-control" id="timephase">
                  <option name="placeholder" value="Please Select a Time Phase" selected disabled hidden>Wybierz porę
                    doby
                  </option>
                  <option name="AMphase" value="AM">AM</option>
                  <option name="PMphase" value="PM">PM</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block m-1 mt-5" value="Save">Zapisz</button>
          </form>

          <form action="{% url 'appointments_app:appointments' %}">
            <button type="submit" class="btn btn-warning btn-block m-1" value="Cancel">Anuluj</button>
          </form>
        {% endif %}

        {% if type == "Nurse" %}
          <h3>Utwórz wizytę poniżej</h3>
          <form name='createAppointment' action="{% url 'appointments_app:createAppointmentInfo' %}" method="post"
                onsubmit="return checkform();">
            {% csrf_token %}

            <ul>
              <li>Aby utworzyć wizytę, wypełnij poniższy formularz</li>
              <li>Jako Pielęgniarz/rka, musisz wybrać pacjenta, doktora ze swojej lokalizacji oraz określić datę i
                czas.
              </li>
            </ul>
            <hr>

            <div class="form-group">
              Wybierz Pacjenta:
              <select class="form-control" name='patient'>
                <option name="placeholder" value="Please Select a Patient" selected disabled hidden>Wybierz Pacjenta
                </option>
                {% for patient in patients %}
                  <option name="pat" value="{{ patient.id }}">{{ patient.lastName }}, {{ patient.firstName }}</option>
                {% endfor %}
              </select>
              Wybierz Doktora:
              <select class="form-control" name='doctor'>
                <option name="placeholder" value="Please Select a Doctor" selected disabled hidden>Wybierz doktora
                </option>
                {% for doc in doctors %}
                  <option name="doc" value="{{ doc.id }}">{{ doc.lastName }}, {{ doc.firstName }}</option>
                {% endfor %}
              </select>
              Miesiąc:
              <select class="form-control" name='month'>
                <option name="placeholder" value="Please Select a Month" selected disabled hidden>Wybierz miesiąc
                </option>
                <option name="amonth" value="01">Styczeń</option>
                <option name="amonth" value="02">Luty</option>
                <option name="amonth" value="03">Marzec</option>
                <option name="amonth" value="04">Kwiecień</option>
                <option name="amonth" value="05">Maj</option>
                <option name="amonth" value="06">Czerwiec</option>
                <option name="amonth" value="07">Lipiec</option>
                <option name="amonth" value="08">Sierpień</option>
                <option name="amonth" value="09">Wrzesień</option>
                <option name="amonth" value="10">Październik</option>
                <option name="amonth" value="11">Listopad</option>
                <option name="amonth" value="12">Grudzień</option>
              </select>
              <div class="form-inline mt-2">
                <label class="form-label pr-2" for="day">Dzień:</label>
                <input id="day" type="text" name="day" placeholder="Ex.) 01" class="form-control"/>
                <label class="form-label pl-2 pr-2" for="year">Rok:</label>
                <input id="year" type="text" name="year" placeholder="Ex.) 2019" class="form-control"/>

              </div>
              <div class="form-inline mt-2">
                <label class="form-label pr-2" for="time">Wybierz godzinę:</label>
                <select name='appttime' class="form-control" id="time">
                  <option name="tplaceholder" value="Please Select a Time" selected disabled hidden>Wybierz godzinę</option>
                  <option name="atime" value="01:00">01:00</option>
                  <option name="atime" value="01:30">01:30</option>
                  <option name="atime" value="02:00">02:00</option>
                  <option name="atime" value="02:30">02:30</option>
                  <option name="atime" value="03:00">03:00</option>
                  <option name="atime" value="03:30">03:30</option>
                  <option name="atime" value="04:00">04:00</option>
                  <option name="atime" value="04:30">04:30</option>
                  <option name="atime" value="05:00">05:00</option>
                  <option name="atime" value="05:30">05:30</option>
                  <option name="atime" value="06:00">06:00</option>
                  <option name="atime" value="06:30">06:30</option>
                  <option name="atime" value="07:00">07:00</option>
                  <option name="atime" value="07:30">07:30</option>
                  <option name="atime" value="08:00">08:00</option>
                  <option name="atime" value="08:30">08:30</option>
                  <option name="atime" value="09:00">09:00</option>
                  <option name="atime" value="09:30">09:30</option>
                  <option name="atime" value="10:00">10:00</option>
                  <option name="atime" value="10:30">10:30</option>
                  <option name="atime" value="11:00">11:00</option>
                  <option name="atime" value="11:30">11:30</option>
                  <option name="atime" value="12:00">12:00</option>
                  <option name="atime" value="12:30">12:30</option>
                </select>
                <label class="form-label pl-2 pr-2" for="timephase">AM/PM:</label>
                <select name='phase' class="form-control" id="timephase">
                  <option name="placeholder" value="Please Select a Time Phase" selected disabled hidden>Wybierz porę doby</option>
                  <option name="AMphase" value="AM">AM</option>
                  <option name="PMphase" value="PM">PM</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block m-1 mt-5" value="Save">Zapisz</button>
          </form>

          <form action="{% url 'appointments_app:appointments' %}">
            <button type="submit" class="btn btn-warning btn-block m-1" value="Cancel">Anuluj</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <script type="text/javascript">
    const checkform = () => {
      if (document.createAppointment.doctor.value === "Please Select a Doctor") {
        alert("Please select a doctor");
        return false;
      } else if (document.createAppointment.patient.value === "Please Select a Patient") {
        alert("Please select a patient");
        return false;
      } else if (document.createAppointment.appttime.value === "Please Select a Time") {
        alert("Please select a time");
        return false;
      } else if (document.createAppointment.phase.value === "Please Select a Time Phase") {
        alert("Please select AM or PM");
        return false;
      } else if (!validateNumbers(document.createAppointment.day.value)) {
        alert("Please enter a day that consists only of numbers");
        return false;
      } else if (document.createAppointment.day.value.length !== 2) {
        alert("Please input a 2 character value for day");
        return false;
      } else if ((parseInt(document.createAppointment.day.value) < 0) || (parseInt(document.createAppointment.day.value) > 31)) {
        alert("Please input a valid value for day (Between 1 and 31)");
        return false;
      } else if (!validateNumbers(document.createAppointment.year.value)) {
        alert("Please enter a year that consists only of numbers");
        return false;
      } else if (document.createAppointment.year.value.length !== 4) {
        alert("Please input a 4 character value for year");
        return false;
      } else if (parseInt(document.createAppointment.year.value) < 2019) {
        alert("Please input a valid value for year. A valid year is 2019 or higher");
        return false;
      } else {
        alert("Your appointment will now be created");
        return true;
      }
    };

    const validateNumbers = (number) => {
      let re = /^([0-9]+)$/;
      return re.test(number);
    }
  </script>
{% endblock javascripts %}