{% extends "appointments_app/base.html" %}
{% block title %}CREATE PRESCRIPTION{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row mt-5 mb-5 justify-content-md-center">
      <div class="col-10">
        <h3>Utwórz receptę poniżej</h3>
        <form name='createPrescription' action="{% url 'appointments_app:createPrescriptionsInfo' %}" method="post"
              onsubmit="return checkform();">
          {% csrf_token %}

          <ul>
            <li>Aby utworzyć receptę, wypełnij formularz poniżej.</li>
          </ul>

          <div class="from-group">
            <label class="form-label pr-2" for="name">Nazwa:</label>
            <input id="name" class="form-control" type="text" name="name" placeholder="Ex.) Amoxicillin"/>
            <label class="form-label pr-2" for="dosage">Dawka:</label>
            <input id="dosage" class="form-control" type="text" name="dosage" placeholder="Ex.) 1 Every Six Hours"/>
            <label class="form-label pr-2" for="patient">Wybierz Pacjenta:</label>
            <select id="patient" class="form-control" style="display: block" name='patient'>
              <option name="placeholder" value="Please Select a Patient" selected disabled hidden>Wybierz Pacjenta</option>
              {% for p in patients %}
                <option name="patient" value="{{ p.id }}">{{ p.lastName }}, {{ p.firstName }}</option>
              {% endfor %}
            </select>
          </div>
            <button type="submit" class="btn btn-primary btn-block m-1 mt-5" value="Save">Zapisz</button>
        </form>

        <form action="{% url 'appointments_app:prescriptions' %}">
            <button type="submit" class="btn btn-warning btn-block m-1" value="Cancel">Anuluj</button>
        </form>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <script type="text/javascript">
    const checkform = () => {
      if (document.createPrescription.name.value.length === 0) {
        alert("Please enter a Prescription name");
        return false;
      } else if (document.createPrescription.dosage.value.length === 0) {
        alert("Please enter a Dosage");
        return false;
      } else if (document.createPrescription.patient.value === "Please Select a Patient") {
        alert("Please select a valid patient");
        return false;
      } else {
        alert("Your prescription will now be created");
        return true;
      }
    }
  </script>
{% endblock javascripts %}