{% extends "appointments_app/base.html" %}
{% load static %}

{% block title %}USER INFO{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  {#  <link rel="stylesheet" href="{% static 'mainPages.css' %}">#}
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row mt-5 mb-5 justify-content-md-center">
      <div class="col-xl-10">
        {% if type == "Patient" %}
          <h3>Informacje o profilu</h3>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Imię</th>
              <th>Adres</th>
              <th>Telefon</th>
              <th>Email</th>
              <th>Ubezpieczyciel</th>
              <th>ID ubezpieczenia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ patient.lastName }}, {{ patient.firstName }}</td>
              <td>{{ patient.address }}</td>
              <td>{{ patient.number }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.provider }}</td>
              <td>{{ patient.insuranceid }}</td>
            </tr>
            </tbody>
          </table>

          <h3>Kontak w nagłych wypadkach</h3>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Imię</th>
              <th>Adres</th>
              <th>Telefon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ patient.contact.lastName }}, {{ patient.contact.firstName }}</td>
              <td>{{ patient.contact.address }}</td>
              <td>{{ patient.contact.number }}</td>
            </tr>
            </tbody>
          </table>


          <form action="{% url 'appointments_app:updateProfile' %}">
            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Update Profile Information">
              Zaktualizuj profil
            </button>
          </form>

          <hr>

          <h3>Informacje medyczne</h3>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Wzrost</th>
              <th>Waga</th>
              <th>Alergie</th>
              <th>Płeć</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ patient.height }}</td>
              <td>{{ patient.weight }} kg</td>
              <td>{{ patient.allergies }}</td>
              <td>{{ patient.gender }}</td>
            </tr>
            </tbody>

          </table>

          <hr>

          <h3>Wyniki badań</h3>
          {% if tests %}
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Nazwa badania</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              {% for t in tests %}
                <tr>
                  {% if t.released == True %}
                    <td><a class="alink" href="{% url 'appointments_app:testDetails' t.id %}">{{ t.name }}</a></td>
                  {% else %}
                    <td>{{ t.name }}</td>
                  {% endif %}
                  {% if t.released == True %}
                    <td>Badanie wydano</td>
                  {% else %}
                    <td>Badanie niewydane</td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>

            </table>
          {% else %}
            <p>Brak wyników do wglądu</p>
          {% endif %}

          <form action="{% url 'appointments_app:export' %}" onsubmit="return conExport();">
            <button type="submit" class="btn btn-primary btn-lg btn-block" value="Export Tests and Profile Information">
              Eksport wyników badań
            </button>
          </form>
        {% endif %}

        {% if type != "Patient" %}
          <h3><span style="text-decoration: underline;">{{ employee.firstName }} {{ employee.lastName }}</span>, oto
            pacjenci w lokalizacji <span style="text-decoration: underline;">{{ employee.workplace.name }}</span></h3>
          {% if patw %}
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Pacjent</th>
                <th>Wzrost</th>
                <th>Waga</th>
                <th>Allergie</th>
                <th>Płeć</th>
                {% if type == "Doctor" %}
                  <th></th>
                  <th></th>
                {% endif %}
              </tr>
              </thead>
              <tbody>
              {% for patient in patients %}
                {% if patient.hospital == employee.workplace %}
                  <tr>
                    <td><a class="alink"
                           href="{% url 'appointments_app:updateMed' patient.id %}">{{ patient.lastName }}, {{ patient.firstName }}</a>
                    </td>
                    <td>{{ patient.height }}</td>
                    <td>{{ patient.weight }} kg</td>
                    <td>{{ patient.allergies }}</td>
                    <td>{{ patient.gender }}</td>
                    {% if type == "Doctor" %}
                      <td>
                        <form action="{% url 'appointments_app:tests' patient.id %}">
                          <button type="submit" class="btn btn-primary btn-block"
                                  value="Test Results">Wyniki badań
                          </button>
                        </form>
                      </td>
                      <td>
                        <form action="{% url 'appointments_app:discharge' patient.id %}">
                          <button type="submit" class="btn btn-warning btn-block"
                                  value="Discharge">Wyrejestruj
                          </button>
                        </form>
                      </td>
                    {% endif %}
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Nie ma pacjentów w Twojej placówce</p>
          {% endif %}

          <br>
          <br>

          <h3>Przyjęcia pacjentów</h3>
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Pacjent</th>
              <th>Wybrany szpital</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for patient in patients %}
              {% if patient.hospital != employee.workplace %}
                <tr>
                  {% if type == "Doctor" %}
                    <td>
                      <a href="{% url 'appointments_app:updateMed' patient.id %}">{{ patient.lastName }}, {{ patient.firstName }}</a>
                    </td>
                  {% else %}
                    <td>{{ patient.lastName }}, {{ patient.firstName }}</td>
                  {% endif %}

                  {% if patient.hospital == None %}
                    <td>BRAK</td>
                    <td>
                      <form action="{% url 'appointments_app:admission' patient.id employee.workplace.id %}">
                        <button type="submit" value="Admit" class="btn btn-success">Przyjmij</button>
                      </form>
                    </td>
                  {% else %}
                    {% if type == "Nurse" %}
                      <td>{{ patient.hospital }}</td>
                    {% endif %}
                    {% if type == "Doctor" %}
                      <td>{{ patient.hospital }}</td>
                      <td>
                        <form action="{% url 'appointments_app:transfer' patient.id employee.workplace.id %}">
                          <button type="submit" value="Transfer" class="btn btn-warning">Przenieś</button>
                      </td>
                    {% endif %}
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  <script>
    const conExport = () => {
      if (confirm("WARNING: The Appointment App Development Team cannot be held responsible if your exported " +
          "information falls into the wrong hands. Are you sure you want to continue?")) {
        return true;
      } else {
        return false;
      }
    }
  </script>
{% endblock javascripts %}