{% extends "appointments_app/base.html" %}
{% block title %}ACTIVITY LOG{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div id="container">
    <div class="row justify-content-md-center mt-5">
      <div class="col-xl-8">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">activity</th>
          </tr>
          </thead>
          <tbody>
          {% for item in logString %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ item }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}