<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}{% load staticfiles %}
<head>
  <title>Appointments | Change Password</title>
  {#  <link rel="stylesheet" type="text/css" href="{% static 'formPages.css' %}"/>#}
  <link rel='shortcut icon' type="images/favicon" href="{% static '/images/favicon.ico' %}">
  <script type="text/javascript">
    function checkForm() {
      if (document.changepass.username.value.length === 0) {
        alert("Please enter the username of the desired account");
        return false;
      } else if (document.changepass.password.value.length === 0) {
        alert("You must input a new password");
        return false;
      } else if (document.changepass.password.value.length < 12) {
        alert("The password you entered is too small, please make it between 12 and 30 characters");
        return false;
      } else if (document.changepass.password.value.length > 30) {
        alert("The password you entered is too large, please make it between 12 and 30 character");
        return false;
      } else if (document.changepass.password.value.match(/[!@#$%\^&*)(+=._-]+/) == null) {
        alert("You must include a special character in the password (!@#$%\^&*)(+=._-)");
        return false;
      } else if (document.changepass.password.value.match(/[A-Z]+/) == null) {
        alert("You must include a capital letter in the password");
        return false;
      } else if (document.changepass.password.value.match(/[0-9]+/) == null) {
        alert("You must include a number in the password");
        return false;
      } else if (document.changepass.password.value.match(/[a-z]+/) == null) {
        alert("You must include a lowercase letter in the password");
        return false;
      } else if (document.changepass.password.value.indexOf(document.register.username.value) > -1) {
        alert("The password cannot contain the username");
        return false;
      } else if (document.changepass.match.value.length === 0) {
        alert("You must confirm the password");
        return false;
      } else if (!(document.changepass.password.value == document.changepass.match.value)) {
        alert("You failed to confirm your new password, please try again");
        return false;
      } else {
        alert("Thank you for submitting");
        return true;
      }
    }
  </script>
</head>
<body>
<div class="container">
  <div>
    <h1>Change Your Password</h1>

    {% if error_message %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ error_message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    <form name='changepass' action="{% url 'appointments_app:changepass' %}" method="post"
          onsubmit="return checkForm();">
      {% csrf_token %}
      <h4>To change your password, complete the form below</h4>

      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username" id="username"/>
      </div>
      <div class="form-group">
        <label for="password">Enter a new password</label>
        <input class="form-control" type="password" name="password" placeholder="New Password" id="password"/>
      </div>
      <div class="form-group">
        <label for="match">Confirm the new password</label>
        <input class="form-control" type="password" name="match" placeholder="Confirm New Password" id="match"/>
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block" value="Submit" style="margin-bottom: 16px">Submit
      </button>
    </form>

    <form action="{% url 'appointments_app:index' %}">
      <button type="submit" class="btn btn-danger btn-lg btn-block" value="Cancel" style="margin-bottom: 16px">Cancel</button>
    </form>
  </div>
</div>
</body>
</html>